.userbox
{
    
    width: 150px;
    border:2px solid black;
}
.userbox>img
{
    height:100px;
    width: 100px;
    border:2px solid black;
}
.usercontainer
{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}